<button mat-button (menuOpened)="menuOpened()" [matMenuTriggerFor]="login">Login</button>
<mat-menu xPosition="before" #login="matMenu">
    <div (click)="$event.stopPropagation()" class="login-details">
        <mat-form-field  (click) = "$event.stopPropagation()" (keydown.tab)="$event.stopPropagation()" (keydown.enter)="userlogin(); $event.stopPropagation()">
            <mat-label>Username</mat-label>
            <input matInput #myinput [(ngModel)]='username'>
        </mat-form-field>
        <mat-form-field (click)="$event.stopPropagation()" (keydown.tab)="$event.stopPropagation()" (keydown.enter)="userlogin(); $event.stopPropagation()">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]='userPassword'>
        </mat-form-field>
        <div *ngIf="unsuccessfulLoginAttempt">
            <span style="color: red; font-size: 14px;">Invalid Username or Password</span>
        </div>
    </div>
    
    <button mat-menu-item color="primary" (click)="userlogin(); $event.stopPropagation()" (keydown.tab)="$event.stopPropagation()">Login</button>

</mat-menu>