<div>
  <div class="stickyBar">
    <mat-toolbar color="primary">
  
      <span>Garratt Weblin</span>
      <span class="menu-spacer"></span>
  
      <a mat-button [routerLink]="'/miniature-portfolio'"> Miniature Portfolio </a>
      <a mat-button [routerLink]="'/about'"> About </a>
      
      <span class="example-spacer"></span>

      <app-login-menu></app-login-menu>

    </mat-toolbar>
  </div>
  
  <div class="display">
    <router-outlet></router-outlet>
  </div>
  
  <!-- <div class="footer">
    <mat-toolbar>
  
      <span>Footer</span>
  
    </mat-toolbar>
  </div> -->
</div>
