:host {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  height: auto;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .menu-spacer {
    padding-right: 50px;
  }


  .stickyBar {
    position: sticky;
    top: 0;
    z-index: 10000;
  }

  .footer {
    max-height: 200px;
    z-index: 1000;
  }

  .display {
    min-height: 100vh;
    height: 100%;
    display: flex;


  }