.title {
    justify-content: center;
    display: flex;
    text-align: center;
}

h1 {
    font-size: 64px;
    line-height: 60px;
}

.upload {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: 50px;
}

.upload-menu {

    height: 500px;
    width: 500px;
    max-height: 500px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 60px;
}

.upload-button {
    float: right;
}

.file-input {
    display: none;
  }

  :host {
    width: 100%;
  }