/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


html, body { height: auto; max-width: 100vw; overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-card.mat-elevation-z8 {
    @include mat.elevation(8);
  }

  .mat-mdc-card.mat-elevation-z16 {
    @include mat.elevation(16);
  }